.CommentPageWrap {
    display: flex;

}

.CommentPageList {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    max-height: 81vh;
    overflow-y: scroll;

}

.CommentPageOutlet {
    width: 50%
}