.AlbumWrap {
    color: darkblue;
    font-style: italic;
    width: 220px;
    box-sizing: border-box;
    padding: 10px;
    border:2px darkblue solid;
    background-color: rgba(255, 182, 193, 0.72);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}